<div class="infowindow-wrapper">
    <h3 class="infowindow-pos-title"><a href="../pos/<%=pos.id%>" target='_blank' title='Xem chi tiết thông tin của địa điểm'><%=pos.title %></a></h3>
    <div class="infowindow-pos-image">
       <%if(pos.file_id){%>
          <img class='cont02' src='<%='../../web/cache/img/jpg/w40_h40/'+ pos.file_id + '_crop.jpg'%>' />
       <%}else{%>
          <img class='img_40x40' src="../../web/images/no-image-yet.png" />
       <%}%>
    </div>

    <div class="infowindow-pos-info">
        <p class="price-wrapper"><span class="highlight">
                  <% if(pos.price > 0){ %>
                        <%=pos.price+' '+pos.unit_price %>
                  <%}else{ %>
                        <%='Giá thỏa thuận' %>
                  <%}%>
      </span></p>

        <div class="member-post">
            <p>Người đăng: <%=pos.member_post%></p>
        </div>

        <p><%= pos.address%></p>

        <div class="description-rh">
            <p><%=pos.description%></p>
        </div>
    </div>

    <div class="infowindow-status">
        <%if(pos.status == 0){%>
          <img src="../../web/images/unavailable.png" />
       <%}else{%>
          <img src="../../web/images/available.png" />
       <%}%>
    </div>

    <div style='clear:both'></div>
    <div>
        <div id="pos_statistic">
            <ul>
              <li class="first-list-item"><a href="../pos/<%=pos.id%>" target='_blank' title="Xem chi tiết thông tin của địa điểm">Xem chi tiết</a></li>
              <li>|</li>
              <li><a href="../pos/<%=pos.id%>#comment_box" id="pos_statistic_comment" title="Số cảm nhận về địa điểm"><%=pos.count_comment%> cảm nhận</a></li>
              <li>|</li>
              <%if(pos.count_follow){%>
                  <li><a href="../pos/followList/<%=pos.id%>?type=member" id="pos_statistic_follow" title="Số người theo dõi địa điểm" class="ajax"><span id='follow_number'><%=pos.count_follow%></span> theo dõi</a></li>
              <%}else{%>
                  <li><a href="#" id="pos_statistic_follow" title="Số người theo dõi">
                  <span id='follow_number'><%=pos.count_follow%></span> theo dõi</a></li>
              <%}%>
            </ul>
        </div>
    </div>
    <div>
        <div id="pos_actions">
            <input type='hidden' id="pos_id" value="<%=pos.id%>"/>
            <ul>
            <% if(!pos.follow_status){%>
             <li><div id='pos_follow_box'><a href="#" id="pos_follow" title="Đăng ký theo dõi địa điểm này">Theo dõi</a></div></li>
            <%}else{
                if(pos.follow_status==1){%>
                  <li><a href="#" title="Đang theo dõi địa điểm này">Theo dõi</a></li>
                <%}else{%>
                  <li><a href="#" title="Đang theo dõi địa điểm này">Theo dõi</a></li>
                  <%}
                }%>
              <li>|</li>
              <li><a href="../pos/sendMailForm?id=<%=pos.id%>&type=member" id="pos_send_mail" title="Gửi mail đặt lịch hẹn với bạn bè" class="ajax">Gửi mail</a></li>
            </ul>
        </div>
    </div>
</div>
