<ul>
  <li>
      <a href="#" class ='db_member_checking' title="Địa điểm nhiều người đang ghé thăm"><img class='img_40x40 bor_img' src="<%='../web/images/no_image.gif'%>" />
      </a>
  </li>
  <li>
      <a href="#" class='db_member_new_comment' title="Địa điểm có cảm nhận mới"><img class='img_40x40 bor_img' src="<%='../web/images/no_image.gif'%>" />
      </a>
  </li>
  <li>
      <a href="#" class='db_member_follow' title="Địa điểm có nhiều người quan tâm"><img class='img_40x40 bor_img' src="<%='../web/images/no_image.gif'%>" />
      </a>
  </li>
  <li>
      <a href="#" class='db_member_checkin' title="Địa điểm có nhiều người đã ghé thăm"><img class='img_40x40 bor_img' src="<%='../web/images/no_image.gif'%>" />
      </a>
  </li>
  <li>
      <a href="#" class='db_member_comment' title="Địa điểm có nhiều người cảm nhận"><img class='img_40x40 bor_img' src="<%='../web/images/no_image.gif'%>" />
      </a>
  </li>
</ul>
