  <ul>
      <% for(var i=0; i<list.length; i++) { %>
          <li class="location-item" id="location-item-<%=list[i].id%>">
              <% if(list[i].file_id) { %>
                  <img class='img_40x40' src="<%='../../web/cache/img/jpg/w40_h40/'+ list[i].file_id + '_crop.jpg'%>" />
              <% } else { %>
                  <img class='img_40x40' src="../../web/images/no-image-yet.png" />
              <% } %>

              <div class="right-block">
                  <div class="location-title">
                      <a href="../pos/<%=list[i].id%>" target='_blank'><%=list[i].title %></a>
                  </div>

                  <div class="location-address">
                    <%=list[i].address%>
                  </div>
                  <div class="location-note">
                    <% if(list[i].price > 0){ %>
                        <%=list[i].price+' '+list[i].unit_price %>
                    <%}else{ %>
                        <%='Giá thỏa thuận' %>
                    <%}%>
                  </div>
                  <div class="location-note">
                    <%if(list[i].status == 0){%>
                      <p>Hết phòng</p>
                    <%}else{%>
                      <p>Còn phòng</p>
                    <%}%>
                  </div>
              </div>

              <div class="clear"></div>
          </li>
      <% } %>
  </ul>
